

    <header style="margin-top:100px;text-align:center;">
        <h1 >About Animal Lovers Rescue</h1>
        <h2>We our a non-profit organization dedicated to saving pets and finding forever homes.</h2>
        <img src="~/Content/" alt="" style="width:80%;outline:5px black solid;" />
     </header>
            <hr />
            <section>
                <table style="width:80%;text-align:center;">
                    <tr>
                        <td style="width:50%;">
                            <h2>Opened in 2010</h2>
                        </td>
                        <td style="width:50%;">
                            <h2>Located in Traverse City, MI</h2>
                        </td>
                    </tr> 
                </table>
            </section>
            <hr />

