<header style="margin-top:100px;text-align:center;">
    <h2><strong>General Contact Information</strong></h2>
</header>

<section class="row">
    <address class="col-md-6">
        PRIMARY ADDRESS<br />
        Animal Lovers Rescue<br />
        2200 Scenic View Drive<br />
        Traverse City, MI 49696<br />
        <br />
        TELEPHONE<br />
     
        231-222-2300<br />
    </address>
</section>