

<header class="jumbotron" style="background-color:darkblue;color:white;text-align:center;">
    <h1>Animal Lovers Rescue</h1>
</header>
<h2>Finding forever homes one day at a time.</h2>
<article class="row">

    <section class="col-md-4">
        <img src="~/Content/snickers.jpg" alt="tiger image"
             style="width:100%;border:15px black groove;" />
    </section>
    <section class="col-md-4">
    </section>
    <section class="col-md-4">
        <img src="~/Content/homeAboutPic.jpg" alt="Puppy Love" style="width:100%;outline:15px black solid;" />
    </section>
   
</article>